<p id="notice"><%= notice %></p>

<h1>Pending Products</h1>

<table>
  <thead>
  <tr>
    <th>Producto</th>
    <th>Cantidad</th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% @pending_products.each do |pending_product| %>
      <tr>
        <td><%= pending_product.product.name %></td>
        <td><%= pending_product.quantity %></td>
        <td><%= link_to 'Destroy', pending_product_path(pending_product.id), method: :delete, data: { confirm: '¿Estás segur@?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>