<p id="notice"><%= notice %></p>

<h1>Producers</h1>

<table>
  <thead>
    <tr>
      <th>Producer</th>
      <th>Group number</th>
      <th>Account</th>
    </tr>
  </thead>

  <tbody>
    <% @producers.each do |producer| %>
      <tr>
        <td><%= producer.producer_id %></td>
        <td><%= producer.group_number %></td>
        <td><%= producer.account %></td>
      </tr>
    <% end %>
  </tbody>
</table>